<table mat-table [dataSource]="(clientes$ | async) || []">
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="idade">
    <th mat-header-cell *matHeaderCellDef>Idade</th>
    <td mat-cell *matCellDef="let element">{{ element.idade }}</td>
  </ng-container>

  <ng-container matColumnDef="numeroConta">
    <th mat-header-cell *matHeaderCellDef>No. Conta</th>
    <td mat-cell *matCellDef="let element">{{ element.numeroConta }}</td>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a bookmark icon"
        [routerLink]="[element.id]"
      >
        <mat-icon>info</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
